#header img {
  width: 40px;
  
}
#header 
{
  background-color: aqua;
}

main
{
  background-image: url("/Imagenes/fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}



#nav{
  font-family: sans-serif;
  color: aqua;
  /*display: flex;*/
  /*justify-content: center;*/
  background-color: rgb(125, 129, 122);
  /*text-align: center;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
  font-size: 17px;  */
}

a:link
{
  text-decoration: none;
}

.imagenes{
  width: 20% ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 8px 10px 13px black;
  border-radius: 30px;
  text-align: center;
}

.imgProyectos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 8px 10px 13px black;
  border-radius: 30px;
  text-align: center;
}

#section .carousel-inner img{
  max-height: 70vh; /*70% del alto de la pantalla*/
  object-fit: cover;
  /*filter: grayscale(20%); /*Decoloramiento de imagenes*/
}

#carousel 
{
  position: relative;  
}

#carousel .overlay
{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0,0,0,0.5);
  color: white;

}

 .txt
{
   width: 300px;
   border: 10px;
   /* text-align: center;
   transform: translate(-50%,-50%);
   width: 30%; */
} 



#footer {
  background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

#footer a {
  color:white
}

#footer img
{
  width: 5%;
}

/*Incorporación de nuevos aspectos responsivos
div.container{    
  display: flex;
  flex-flow: row wrap;
  justify-content: center;    
}

div.container > img{
  width: 60%;
  margin-bottom: 25px;
  box-shadow: 8px 10px 13px black;
  border-radius: 30px;
}

/*Inicidio media query
@media(min-width : 600px)
{
  body{
    background-color: aqua;
  }
  div.container > img{
    width: 23%;
    margin: 3px;
  }
}

/*Toma nuevas configuraciones a partir de los 1024 px
@media(min-width: 1024px)  {
  body{
      background-color: blue;
  }
  div.container > img{
    width: 20%;
    margin: 5px;
  }
}*/



